.om{
    height:1150px;
    width:1360px;
    background: rgb(184, 160, 160);
    position:relative;
}
.maindiv{
    height:60px;
    width:1360px;
    background-color: black;
}
.li{
    display:flex;
    gap:20px;
    color:white;
    font-size: 20px;
    padding-top:0px;
    position: absolute;
    left:100px;
    top:0px;
}
img{
    position: absolute;
    top:8px;
    left:10px;
    height:40px;
    width:100px;  
}
.two{
    position: absolute;
    top:60px;
    left:2px;
    height:600px;
    width:1360px;
}
.button{
    position: absolute;
    top:560px;
    left:55px;
    height:50px;
    width:140px;
    background-color: blue;
    color:white;
    border-radius: 40px;
    border:1px solid white;
    font-size: 18px;
}
button:hover{
    color:black;
    background-color:cadetblue;
    transform: scale(1.1);
}
p{
    position:absolute;
    top:700px;
    left:20px;
    font-size: 20px;
    text-align:justify;

}
.three{
    position:absolute;
    top:850px;
    left:20px;
    font-size: 20px;
}
p:first-child{
    color:blue;
}